section
{
    padding: 3% 22%;

}

h2
{
    font-size: 3.2rem;
    font-weight: bold;
}

h3
{
    font-size: 2.3rem;
    color:hsl(316, 90%, 49%);
    font-weight: 600;
    text-decoration: underline;
    
}

#H5
{
    font-size: 1.0rem;
}
p{
    font-size: 1.2rem;
}